	<div id="footer">
		<ul>
			<a href="index.html"><li>Home</li></a> <div class="bgcolor"></div>
			<a href="story.html"><li>About</li></a> <div class="bgcolor"></div>
			<a href="schedule.html"><li>Schedule</li></a> <div class="bgcolor"></div>
			<a href="hotels.html"><li>Hotels</li></a> <div class="bgcolor"></div>
			<a href="registry.html"><li>Registry</li></a> <div class="bgcolor"></div>
			<a href="baltimore.html"><li>Baltimore Tips</li></a>
		</ul>

		<div id="madewith">
			<span></span>
			<a href="http://www.weduary.com/index.html" class="textcolor" target="_blank">Made with<span>Weduary</span></a>
		</div>
	</div>
	<script>
		if (location.host == 'localhost:4000') {
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
		}
	</script>
</body>
</html>