	<div id="footer">
		<ul>
			<a href="index.html"><li>Home</li></a> <div class="bgcolor"></div>
			<a href="story.html"><li>About</li></a> <div class="bgcolor"></div>
			<a href="schedule.html"><li>Schedule</li></a> <div class="bgcolor"></div>
			<a href="hotels.html"><li>Hotels</li></a> <div class="bgcolor"></div>
			<a href="registry.html"><li>Registry</li></a> <div class="bgcolor"></div>
			<a href="baltimore.html"><li>Baltimore Tips</li></a>
		</ul>

		<div id="madewith">
			<span></span>
			<a href="http://www.weduary.com/index.html" class="textcolor" target="_blank">Made with<span>Weduary</span></a>
		</div>
	</div>
  <script type="text/javascript">      
    $(function() {
      // input["submit"]
      $('form').submit(function () { 
      	console.log('script called');
       	if ($('.ss-item-required input:radio:checked').length != $('.ss-item-required.ss-radio').length || $('.ss-item-required.ss-text input:text').val() == "") {
          $('.ss-item-required.ss-radio').each(function () {
            if ($('input:radio:checked', this).length == 0) {
              $('.ss-q-title, .ss-q-help', this).css("color", "red");
              $('.hidden', this).show();
            }
          });

          $('.ss-item-required.ss-text').each(function () {
            if ($('input:text', this).val() == "") {
              $('.ss-q-title, .ss-q-help', this).css("color", "red");
              $('.hidden', this).show();
            }
          });

          return false;  
        }
      });
    });
  </script>
	<script>
		if (location.host == 'localhost:4000') {
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
		}
	</script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37853633-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>